<% if user_signed_in? %>
  <h2>みんなの購入商品<small>(合計 <%= @items.total_count %> 件)</small></h2>
  <small><%= @items.offset_value %>〜<%= @items.offset_value + @items.length %>件を表示しています。</small>
  <%= paginate @items, window: 2 %>
    <table>
      <tr><th>ID</th><th>名前</th><th>料金</th><th>購入者</th>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.price.to_s(:delimited) %>円</td>
            <td><%= item.user.name %></td>
          </tr>
        <% end %>
    </table>

    <%= paginate @items, window: 2 %>
<% else %>
  <h2>deviseサンプルアプリへようこそ</h2>
  <p>新規登録かログインを行えばサービスを利用できます。</p>
<% end %>