<%= form_with model:@item do |f| %>
  <p><%= f.label :name, "アイテム名" %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :price, "料金" %></p>
  <p><%= f.number_field :price %></p>
  <p><%= f.submit "投稿" %></p>
<% end %>